/* Parallax sections /
.parallax {
  / Full viewport height /
  height: 100vh;
  / Parallax background /
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
